<!-- <p>sign-up works!</p> -->
<div class="flex justify-center items-center bg-white p-2 rounded-lg shadow-lg">
    <div class="flex flex-col justify-center items-center gap-4 px-16 py-32">
        <h1 class="h1">Sign up</h1>
        <span>Already have an account? <a class="a-auth" routerLink="/auth/login">Login</a></span>
    </div>

    <div class="pl-4 border-l-2 w-72">
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

            <!-- Username -->
            <div class="form-group">
                <div class="form-icon-label">
                    <span class="material-symbols-outlined icon icon-badge">
                        badge
                    </span>
                    <label class="form-label" for="username">Username</label>
                </div>

                <input class="form-input" formControlName="username" id="username" type="text" placeholder="Username">

                <div class="form-input-required"
                    *ngIf="signUpForm.get('username')!.invalid && signUpForm.get('username')!.touched">
                    Username is required.
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <div class="form-icon-label">
                    <span class="material-symbols-outlined icon icon-email">
                        email
                    </span>
                    <label class="form-label" for="email">Email</label>
                </div>

                <input class="form-input" formControlName="email" id="email" type="email" placeholder="Email">

                <div class="form-input-required"
                    *ngIf="signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched">
                    <div *ngIf="signUpForm.get('email')!.hasError('required')">
                        Email is required.
                    </div>

                    <div *ngIf="signUpForm.get('email')!.hasError('email')">
                        Please enter a valid email address.
                    </div>

                    <div *ngIf="signUpForm.get('email')!.hasError('pattern')">
                        Email must be from a valid domain (e.g., gmail.com).
                    </div>
                </div>

            </div>

            <!-- Password -->
            <div class="form-group">
                <div class="form-icon-label">
                    <span class="material-symbols-outlined icon icon-lock">
                        lock
                    </span>
                    <label class="form-label" for="password">Password</label>
                </div>

                <input class="form-input" formControlName="password" id="password" type="password"
                    placeholder="Password">

                <div class="form-input-required"
                    *ngIf="signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched">
                    <div *ngIf="signUpForm.get('password')!.hasError('required')">
                        Password is required.
                    </div>

                    <div *ngIf="signUpForm.get('password')!.hasError('minlength')">
                        Password must be at least 8 characters long.
                    </div>

                    <div *ngIf="signUpForm.get('password')!.hasError('pattern')">
                        Password must contain at least one uppercase letter, one lowercase letter, and one number.
                    </div>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <div class="form-icon-label">
                    <span class="material-symbols-outlined icon icon-lock_reset">
                        lock_reset
                    </span>
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                </div>

                <input class="form-input" formControlName="confirmPassword" id="confirm-password" type="password"
                    placeholder="Confirm Password">

                <div class="form-input-required"
                    *ngIf="signUpForm.get('confirmPassword')!.invalid && signUpForm.get('confirmPassword')!.touched">
                    Confirm password is required.
                </div>
            </div>

            <div class="flex justify-center">
                <app-button label="Sign Up" type="submit" [disabled]="signUpForm.invalid"></app-button>
            </div>

            <div *ngIf="signUpFormError" class="form-input-required">
                {{signUpFormError}}
            </div>
        </form>
    </div>
</div>