<!-- <p>main-layout works!</p> -->
<section class="border flex h-screen">
    <aside class="border p-4">
        <div>
            <img src="" alt="">

            <section class="flex items-center justify-center text-dodger-blue font-bold gap-1">
                <span class="material-symbols-outlined icon icon-shield text-4xl md:text-3xl">
                    shield
                </span>

                <h1 class="hidden md:block md:text-2xl">Secure Q&A</h1>
            </section>
        </div>
        <nav class="py-4">
            <h2 class="parent-menu">Menu</h2>

            <ul class="md:ml-2">
                <li class="nav-link">
                    <span class="material-symbols-outlined icon icon-home">
                        home
                    </span>
                    <a class="a-link" routerLink="home">Home</a>
                </li>

                <li class="nav-link">
                    <span class="material-symbols-outlined icon icon-star">
                        star
                    </span>
                    <a class="a-link" routerLink="home">Featured Question</a>
                </li>

                <li class="nav-link">
                    <span class="material-symbols-outlined icon icon-group">
                        group
                    </span>
                    <a class="a-link" routerLink="home">Community</a>
                </li>

                <li class="nav-link">
                    <span class="material-symbols-outlined icon icon-forum">
                        forum
                    </span>
                    <a class="a-link" routerLink="home">Discussion</a>
                </li>
                <li *ngIf="isAdmin" class="nav-link">
                    <span class="material-symbols-outlined icon icon-forum">
                        forum
                    </span>
                    <a class="a-link" routerLink="user-manager">User Manager</a>
                </li>
            </ul>
        </nav>
        <nav class="py-4">
            <h2 class="parent-menu">Topic</h2>

            <ul class="md:ml-2">
                <li class="">
                    <a class="a-link" routerLink="home">topic</a>
                </li>
            </ul>
        </nav>
    </aside>

    <div class="flex flex-col flex-grow">
        <header class="border flex justify-between items-center px-4 py-2">
            <div class="flex items-center gap-2">
                <span class="material-symbols-outlined icon icon-search">
                    search
                </span>
                <input class="form-input md:block hidden" type="text" placeholder="Search...">
            </div>

            <div *ngIf="!isAuthentication" class="flex gap-2">
                <app-button label="Login" iconName="person" routerLink="/auth/login"></app-button>
                <app-button label="Sign up" iconName="person_add" routerLink="/auth/sign-up"></app-button>
            </div>

            <div *ngIf="isAuthentication" class="flex items-center gap-2">
                <button class="button">
                    <p class="hidden md:block">Ask Question</p>
                    <span class="material-symbols-outlined md:hidden block">
                        contact_support
                    </span>
                </button>
                <span class="material-symbols-outlined icon icon-notification p-2 rounded-full transition-all">
                    notifications
                </span>
                <div class="flex items-center gap-2">
                    <p class="hidden md:block text-lg font-semibold">username</p>
                    <img class="w-10 object-cover border rounded-full" src="avatar.png" alt="avatar" loading="lazy"
                        title="Avatar">
                </div>
            </div>
        </header>

        <main class="flex-1 border overflow-scroll no-scrollbar">
            <div class="flex h-full">
                <aside class="border p-2 flex-1">
                    <router-outlet></router-outlet>
                </aside>
                <aside class="border hidden lg:block w-80 p-2">
                    sidebar right
                </aside>
            </div>
        </main>

        <footer class="flex flex-wrap justify-between p-2 text-dodger-blue border">
            <p>© 2024 Secure Q&A | All Rights Reserved</p>
            <p>Nguyen Duc Huy | 22NS024 | VKU</p>
        </footer>
    </div>

</section>